.App {
  text-align: center;
  font-family: 'Calibri', sans-serif;
}

html {
  background-image: url('./weather.png');
}

.forecast {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.daily {
  border-color: black;
  border-width: 1px;
  border-style: solid;
  border-radius: 10px;
  margin: 10px;
  padding: 20px;
  transition: .2s ease;
  background-color: white;
}

.daily:hover {
  background-color: #F5F5F5;
}

button {
  border: none;
  color: white;
  background-color: #2196F3;
  cursor: pointer;
  padding: 10px;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  border-radius: 10px;
  transition: .2s ease;
  margin: 5px;
}

.button {
  border: none;
  color: white;
  background-color: #2196F3;
  cursor: pointer;
  padding: 6px;
  font-size: 12px;
  text-align: center;
  text-decoration: none;
  border-radius: 10px;
  transition: .2s ease;
  margin: 5px;
}

button:hover, .button:hover {
  background-color: #0b7dda;
}

form {
  margin: 10px;
}